.App {
  text-align: center;
  background-image: linear-gradient(to right,#514697,#204C7A ,#514697);
}

.App-logo {
  pointer-events: none;
}

.App-bg{
  background-image: linear-gradient(to right,#514697,#204C7A ,#514697);
}

body{
  background-image: linear-gradient(to right,#514697,#204C7A ,#514697);
}

.color-pink{
  color: #C377AF !important;
}

.color-light-blue{
  color: #BCE2F2 !important;
}

/* ********* */
/* FUENTES */
/* ******** */

.f-description{
  font-size: 17px;
}